{
.appVersion = "3343";
.formatVersion = 3;
classes = (
{
code = "akara-bali
ikara-bali
raRepa-bali
ekara-bali
ha-bali
na-bali
naRambat-bali
ca-bali
caLaca-bali
ra-bali
ka-bali
kafSasak-bali
khotSasak-bali
da-bali
daMadu-bali
daMurdaAlpaprana-bali
ta-bali
taMurdaMahaprana-bali
taLatik-bali
taTawa-bali
tzirSasak-bali
sa-bali
saSapa-bali
saSaga-bali
zalSasak-bali
asyuraSasak-bali
wa-bali
veSasak-bali
la-bali
ma-bali
ga-bali
gaGora-bali
ba-bali
baKembang-bali
nga-bali
pa-bali
efSasak-bali
ja-bali
ya-bali
nya-bali 
sa-bali.post
saSapa-bali.post
zalSasak-bali.post
pa-bali.post
efSasak-bali.post
";
name = AksaraNeedsAlt;
},
{
code = "akara-bali.alt
ikara-bali.alt
raRepa-bali.alt
ekara-bali.alt
ha-bali.alt
na-bali.alt
naRambat-bali.alt
ca-bali.alt
caLaca-bali.alt
ra-bali.alt
ka-bali.alt
kafSasak-bali.alt
khotSasak-bali.alt
da-bali.alt
daMadu-bali.alt
daMurdaAlpaprana-bali.alt
ta-bali.alt
taMurdaMahaprana-bali.alt
taLatik-bali.alt
taTawa-bali.alt
tzirSasak-bali.alt
sa-bali.alt
saSapa-bali.alt
saSaga-bali.alt
zalSasak-bali.alt
asyuraSasak-bali.alt
wa-bali.alt
veSasak-bali.alt
la-bali.alt
ma-bali.alt
ga-bali.alt
gaGora-bali.alt
ba-bali.alt
baKembang-bali.alt
nga-bali.alt
pa-bali.alt
efSasak-bali.alt
ja-bali.alt
ya-bali.alt
nya-bali.alt
sa-bali.post.alt
saSapa-bali.post.alt
zalSasak-bali.post.alt
pa-bali.post.alt
efSasak-bali.post.alt
";
name = AksaraAlt;
},
{
code = "na-bali.below
suku-bali
sukuIlut-bali
ra-bali.below
raRepaMark-bali
wa-bali.below
wa-bali.below2
suku-bali.below
sukuIlut-bali.below
sa-bali.post
saSapa-bali.post
zalSasak-bali.post
taTawa-bali.below
veSasak-bali.below


";
name = MeetsAksaraAlt;
},
{
code = "ulu-bali
ulu_uluRicem-bali
ulu_uluCandra-bali
ulu_cecek-bali
ulu_surang-bali
uluSari-bali
uluSari_uluRicem-bali
uluSari_uluCandra-bali
uluSari_cecek-bali
uluSari_surang-bali
uluRicem-bali
uluCandra-bali
pepet-bali
pepet_cecek-bali
pepet_surang-bali
cecek-bali
surang-bali
rerekan-bali
rerekan_cecek-bali
rerekan_surang-bali
rerekan_ulu_cecek-bali
rerekan_ulu_surang-bali
rerekan_uluSari_cecek-bali
rerekan_uluSari_surang-bali
rerekan_pepet_cecek-bali
rerekan_pepet_surang-bali
";
name = UluningAksara;
},
{
code = "ha-bali.below
naRambat-bali.below
ca-bali.below
ka-bali.below
kafSasak-bali.below
da-bali.below
daMadu-bali.below
daMurdaAlpaprana-bali.below
ta-bali.below
tzirSasak-bali.below
saSaga-bali.below
asyuraSasak-bali.below
ma-bali.below
ga-bali.below
gaGora-bali.below
baKembang-bali.below
nga-bali.below
ja-bali.below
nya-bali.below 
";
name = GantunganNeedsAlt;
},
{
code = "ha-bali.below.alt
naRambat-bali.below.alt
ca-bali.below.alt
ka-bali.below.alt
kafSasak-bali.below.alt
da-bali.below.alt
daMadu-bali.below.alt
daMurdaAlpaprana-bali.below.alt
ta-bali.below.alt
tzirSasak-bali.below.alt
saSaga-bali.below.alt
asyuraSasak-bali.below.alt
ma-bali.below.alt
ga-bali.below.alt
gaGora-bali.below.alt
baKembang-bali.below.alt
nga-bali.below.alt
ja-bali.below.alt
nya-bali.below.alt
";
name = GantunganAlt;
},
{
code = "na-bali.below
suku-bali
sukuIlut-bali
wa-bali.below
wa-bali.below2
suku-bali.below
sukuIlut-bali.below
sa-bali.post
saSapa-bali.post
zalSasak-bali.post
taTawa-bali.below
veSasak-bali.below


";
name = MeetsGantunganAlt;
},
{
code = "ha-bali.below
na-bali.below
naRambat-bali.below
ca-bali.below
caLaca-bali.below
ra-bali.below
ka-bali.below
kaMahaprana-bali.below
kafSasak-bali.below
da-bali.below
daMadu-bali.below
daMurdaAlpaprana-bali.below
daMurdaMahaprana-bali.below
ta-bali.below
taMurdaMahaprana-bali.below
taLatik-bali.below
taTawa-bali.below
tzirSasak-bali.below
saSaga-bali.below
asyuraSasak-bali.below
wa-bali.below
wa-bali.below2
veSasak-bali.below
la-bali.below
ma-bali.below
ga-bali.below
gaGora-bali.below
ba-bali.below
baKembang-bali.below
nga-bali.below
ja-bali.below
nya-bali.below



";
name = Gantungan;
}
);
date = "2025-10-24 09:24:13 +0000";
familyName = "Godya Display Balinese";
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem bali dflt;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature ss01;
feature ss02;
feature ss03;
feature calt;
feature blwf;
feature pstf;
feature psts;
";
tag = aalt;
},
{
automatic = 1;
code = "lookup ccmp_bali_1 {
	lookupflag 0;
	sub rerekan-bali pepet-bali cecek-bali by rerekan_pepet_cecek-bali;
	sub rerekan-bali pepet-bali surang-bali by rerekan_pepet_surang-bali;
	sub rerekan-bali uluSari-bali cecek-bali by rerekan_uluSari_cecek-bali;
	sub rerekan-bali uluSari-bali surang-bali by rerekan_uluSari_surang-bali;
	sub rerekan-bali ulu-bali cecek-bali by rerekan_ulu_cecek-bali;
	sub rerekan-bali ulu-bali surang-bali by rerekan_ulu_surang-bali;
	sub pepet-bali cecek-bali by pepet_cecek-bali;
	sub pepet-bali surang-bali by pepet_surang-bali;
	sub rerekan-bali cecek-bali by rerekan_cecek-bali;
	sub rerekan-bali surang-bali by rerekan_surang-bali;
	sub uluSari-bali cecek-bali by uluSari_cecek-bali;
	sub uluSari-bali surang-bali by uluSari_surang-bali;
	sub uluSari-bali uluCandra-bali by uluSari_uluCandra-bali;
	sub uluSari-bali uluRicem-bali by uluSari_uluRicem-bali;
	sub ulu-bali cecek-bali by ulu_cecek-bali;
	sub ulu-bali surang-bali by ulu_surang-bali;
	sub ulu-bali uluCandra-bali by ulu_uluCandra-bali;
	sub ulu-bali uluRicem-bali by ulu_uluRicem-bali;
} ccmp_bali_1;

script bali;
lookup ccmp_bali_1;
";
tag = ccmp;
},
{
automatic = 1;
code = "lookupflag IgnoreMarks;
sub L A by L_A.liga;
sub L E by L_E.liga;
sub L I by L_I.liga;
sub L R by L_R.liga;
sub R O by R_O.liga;
sub S S by S_S.liga;
sub T H by T_H.liga;
sub T O by T_O.liga;
";
tag = liga;
},
{
automatic = 1;
code = "sub A by A.ss01;
sub B by B.ss01;
sub R by R.ss01;
sub e by e.ss01;
sub m by m.ss01;
sub n by n.ss01;
sub ra-bali.below by ra-bali.below.ss01;
sub raRepaMark-bali by raRepaMark-bali.ss01;
";
labels = (
{
language = dflt;
value = "";
}
);
tag = ss01;
},
{
automatic = 1;
code = "sub ra-bali.below by ra-bali.below.ss02;
sub raRepaMark-bali by raRepaMark-bali.ss02;
";
labels = (
{
language = dflt;
value = "";
}
);
tag = ss02;
},
{
automatic = 1;
code = "sub ra-bali.below by ra-bali.below.ss03;
sub raRepaMark-bali by raRepaMark-bali.ss03;
";
labels = (
{
language = dflt;
value = "";
}
);
tag = ss03;
},
{
code = "sub [@AksaraNeedsAlt]' [@MeetsAksaraAlt] by [@AksaraAlt];
sub [@AksaraNeedsAlt]' [@UluningAksara] [@MeetsAksaraAlt] by [@AksaraAlt];

sub [@GantunganNeedsAlt]' [@MeetsGantunganAlt] by [@GantunganAlt];
sub [@GantunganNeedsAlt]' [@UluningAksara] [@MeetsGantunganAlt] by [@GantunganAlt];";
tag = calt;
},
{
code = "sub adegadeg-bali ha-bali by ha-bali.below;
sub adegadeg-bali na-bali by na-bali.below;
sub adegadeg-bali naRambat-bali by naRambat-bali.below;
sub adegadeg-bali ca-bali by ca-bali.below;
sub adegadeg-bali caLaca-bali by caLaca-bali.below;
sub adegadeg-bali ra-bali by ra-bali.below;
sub adegadeg-bali ka-bali by ka-bali.below;
sub adegadeg-bali kaMahaprana-bali by kaMahaprana-bali.below;
sub adegadeg-bali kafSasak-bali by kafSasak-bali.below;
sub adegadeg-bali da-bali by da-bali.below;
sub adegadeg-bali daMadu-bali by daMadu-bali.below;
sub adegadeg-bali daMurdaAlpaprana-bali by daMurdaAlpaprana-bali.below;
sub adegadeg-bali daMurdaMahaprana-bali by daMurdaMahaprana-bali.below;
sub adegadeg-bali ta-bali by ta-bali.below;
sub adegadeg-bali taMurdaMahaprana-bali by taMurdaMahaprana-bali.below;
sub adegadeg-bali taLatik-bali by taLatik-bali.below;
sub adegadeg-bali taTawa-bali by taTawa-bali.below;
sub adegadeg-bali tzirSasak-bali by tzirSasak-bali.below;
sub adegadeg-bali saSaga-bali by saSaga-bali.below;
sub adegadeg-bali asyuraSasak-bali by asyuraSasak-bali.below;
sub adegadeg-bali wa-bali by wa-bali.below;
sub adegadeg-bali veSasak-bali by veSasak-bali.below;
sub adegadeg-bali la-bali by la-bali.below;
sub adegadeg-bali ma-bali by ma-bali.below;
sub adegadeg-bali ga-bali by ga-bali.below;
sub adegadeg-bali gaGora-bali by gaGora-bali.below;
sub adegadeg-bali ba-bali by ba-bali.below;
sub adegadeg-bali baKembang-bali by baKembang-bali.below;
sub adegadeg-bali nga-bali by nga-bali.below;
sub adegadeg-bali ja-bali by ja-bali.below;
sub adegadeg-bali nya-bali by nya-bali.below;

sub laLengaMark-bali by la-bali.below pepet-bali;
sub laLengaTedungMark-bali by la-bali.below pepet-bali tedung-bali;

sub [@Gantungan] wa-bali.below' by wa-bali.below2;
sub [@Gantungan] suku-bali' by suku-bali.below;
";
tag = blwf;
},
{
code = "sub adegadeg-bali ya-bali by ya-bali.post;
sub adegadeg-bali sa-bali by sa-bali.post;
sub adegadeg-bali saSapa-bali by saSapa-bali.post;
sub adegadeg-bali zalSasak-bali by zalSasak-bali.post;
sub adegadeg-bali pa-bali by pa-bali.post;
sub adegadeg-bali paKapal-bali by paKapal-bali.post;
sub adegadeg-bali efSasak-bali by efSasak-bali.post;
sub adegadeg-bali jaJera-bali by jaJera-bali.post;
";
tag = pstf;
},
{
code = "sub [@Gantungan] ya-bali.post' by ya-bali.post2;

sub [@Gantungan] ya-bali.post2' suku-bali by ya-bali.post2.short;
sub [@Gantungan] ya-bali.post2' sukuIlut-bali by ya-bali.post2.short;

sub ya-bali.post' suku-bali by ya-bali.post.short;
sub ya-bali.post.short suku-bali' by suku-bali.alt;
sub ya-bali.post' sukuIlut-bali by ya-bali.post.short;
sub ya-bali.post.short sukuIlut-bali' by sukuIlut-bali.alt;

sub [ra-bali.below ra-bali.below.ss01 ra-bali.below.ss02 ra-bali.below.ss03 ra-bali.below1 ra-bali.below2 ra-bali.below3 ra-bali.below4 ra-bali.below5] [ya-bali.post ya-bali.post2] by ra_ya-bali.post;
	
sub [ra-bali.below ra-bali.below2] [ya-bali.post ya-bali.post2] tedung-bali by ra_ya_tedung-bali.post;

	sub ya-bali.post2' suku-bali by ya-bali.post2.short;
	sub ya-bali.post2.short suku-bali' by suku-bali.alt;
	sub ya-bali.post2' sukuIlut-bali by ya-bali.post2.short;
	sub ya-bali.post2.short sukuIlut-bali' by sukuIlut-bali.alt;
";
tag = psts;
},
{
code = "sub wa-bali tedung-bali by wa_tedung-bali ;
sub ha-bali tedung-bali by ha_tedung-bali ;
sub na-bali tedung-bali by na_tedung-bali ;
sub naRambat-bali tedung-bali by naRambat_tedung-bali ;
sub ca-bali tedung-bali by ca_tedung-bali ;
sub caLaca-bali tedung-bali by caLaca_tedung-bali ;
sub ra-bali tedung-bali by ra_tedung-bali ;
sub ka-bali tedung-bali by ka_tedung-bali ;
sub kafSasak-bali tedung-bali by kafSasak_tedung-bali ;
sub khotSasak-bali tedung-bali by khotSasak_tedung-bali ;
sub da-bali tedung-bali by da_tedung-bali ;
sub daMadu-bali tedung-bali by daMadu_tedung-bali ;
sub ta-bali tedung-bali by ta_tedung-bali ;
sub taMurdaMahaprana-bali tedung-bali by taMurdaMahaprana_tedung-bali ;
sub taLatik-bali tedung-bali by taLatik_tedung-bali ;
sub taTawa-bali tedung-bali by taTawa_tedung-bali ;
sub tzirSasak-bali tedung-bali by tzirSasak_tedung-bali ;
sub sa-bali tedung-bali by sa_tedung-bali ;
sub saSapa-bali tedung-bali by saSapa_tedung-bali ;
sub saSaga-bali tedung-bali by saSaga_tedung-bali ;
sub zalSasak-bali tedung-bali by zalSasak_tedung-bali ;
sub asyuraSasak-bali tedung-bali by asyuraSasak_tedung-bali ;
sub veSasak-bali tedung-bali by veSasak_tedung-bali ;
sub la-bali tedung-bali by la_tedung-bali ;
sub ma-bali tedung-bali by ma_tedung-bali ;
sub ga-bali tedung-bali by ga_tedung-bali ;
sub gaGora-bali tedung-bali by gaGora_tedung-bali ;
sub ba-bali tedung-bali by ba_tedung-bali ;
sub baKembang-bali tedung-bali by baKembang_tedung-bali ;
sub nga-bali tedung-bali by nga_tedung-bali ;
sub pa-bali tedung-bali by pa_tedung-bali ;
sub efSasak-bali tedung-bali by efSasak_tedung-bali ;
sub jaJera-bali tedung-bali by jaJera_tedung-bali ;
sub ya-bali tedung-bali by ya_tedung-bali ;

sub wa-bali.below suku-bali' by suku-bali.below;
sub wa-bali.below suku-bali.below' by suku-bali.alt;

sub wa-bali.below2 suku-bali' by suku-bali.below;
sub wa-bali.below2 suku-bali.below' by suku-bali.alt;

sub na-bali.below suku-bali' by suku-bali.below;
sub na-bali.below suku-bali.below' by suku-bali.alt;
";
tag = liga;
},
{
code = "sub sa-bali.post' by suku-bali pa-bali.post ;
sub sa-bali.post.alt' by suku-bali pa-bali.post.alt ;
sub zalSasak-bali.post' by suku-bali saSapa-bali.post ;
sub zalSasak-bali.post.alt' by suku-bali saSapa-bali.post.alt ;


sub ha-bali.below ya-bali.post2 by ha-bali.below_ya-bali.post2 ;
	sub naRambat-bali.below ya-bali.post2 by naRambat-bali.below_ya-bali.post2 ;
	sub ca-bali.below ya-bali.post2 by ca-bali.below_ya-bali.post2 ;
	sub caLaca-bali.below ya-bali.post2 by caLaca-bali.below_ya-bali.post2 ;
	sub ka-bali.below ya-bali.post2 by ka-bali.below_ya-bali.post2 ;
	sub kafSasak-bali.below ya-bali.post2 by kafSasak-bali.below_ya-bali.post2 ;
	sub da-bali.below ya-bali.post2 by da-bali.below_ya-bali.post2 ;
	sub daMadu-bali.below ya-bali.post2 by daMadu-bali.below_ya-bali.post2 ;
	sub daMurdaAlpaprana-bali.below ya-bali.post2 by daMurdaAlpaprana-bali.below_ya-bali.post2 ;
	sub ta-bali.below ya-bali.post2 by ta-bali.below_ya-bali.post2 ;
	sub tzirSasak-bali.below ya-bali.post2 by tzirSasak-bali.below_ya-bali.post2 ;
	sub asyuraSasak-bali.below ya-bali.post2 by asyuraSasak-bali.below_ya-bali.post2 ;
	sub la-bali.below ya-bali.post2 by la-bali.below_ya-bali.post2 ;
	sub ma-bali.below ya-bali.post2 by ma-bali.below_ya-bali.post2 ;
	sub ga-bali.below ya-bali.post2 by ga-bali.below_ya-bali.post2 ;
	sub gaGora-bali.below ya-bali.post2 by gaGora-bali.below_ya-bali.post2 ;
	sub ba-bali.below ya-bali.post2 by ba-bali.below_ya-bali.post2 ;
	sub baKembang-bali.below ya-bali.post2 by baKembang-bali.below_ya-bali.post2 ;
	sub nga-bali.below ya-bali.post2 by nga-bali.below_ya-bali.post2 ;
	sub ja-bali.below ya-bali.post2 by ja-bali.below_ya-bali.post2 ;
	sub saSaga-bali.below ya-bali.post2 by saSaga-bali.below_ya-bali.post2;
	sub nya-bali.below ya-bali.post2 by nya-bali.below_ya-bali.post2 ;


sub ha-bali.below ya-bali.post2.short by ha-bali.below_ya-bali.post2.short ;
	sub naRambat-bali.below ya-bali.post2.short  by naRambat-bali.below_ya-bali.post2.short ;
	sub ca-bali.below ya-bali.post2.short  by ca-bali.below_ya-bali.post2.short ;
	sub caLaca-bali.below ya-bali.post2.short  by caLaca-bali.below_ya-bali.post2.short ;
	sub ka-bali.below ya-bali.post2.short  by ka-bali.below_ya-bali.post2.short ;
	sub kafSasak-bali.below ya-bali.post2.short  by kafSasak-bali.below_ya-bali.post2.short ;
	sub da-bali.below ya-bali.post2.short by da-bali.below_ya-bali.post2.short ;
	sub daMadu-bali.below ya-bali.post2.short  by daMadu-bali.below_ya-bali.post2.short ;
	sub daMurdaAlpaprana-bali.below ya-bali.post2.short  by daMurdaAlpaprana-bali.below_ya-bali.post2.short ;
	sub ta-bali.below ya-bali.post2.short  by ta-bali.below_ya-bali.post2.short ;
	sub tzirSasak-bali.below ya-bali.post2.short by tzirSasak-bali.below_ya-bali.post2.short ;
	sub asyuraSasak-bali.below ya-bali.post2.short  by asyuraSasak-bali.below_ya-bali.post2.short ;
	sub la-bali.below ya-bali.post2.short  by la-bali.below_ya-bali.post2.short ;	
	sub ma-bali.below ya-bali.post2.short  by ma-bali.below_ya-bali.post2.short ;
	sub ga-bali.below ya-bali.post2.short  by ga-bali.below_ya-bali.post2.short ;
	sub gaGora-bali.below ya-bali.post2.short  by gaGora-bali.below_ya-bali.post2.short ;
	sub ba-bali.below ya-bali.post2.short  by ba-bali.below_ya-bali.post2.short ;
	sub baKembang-bali.below ya-bali.post2.short  by baKembang-bali.below_ya-bali.post2.short ;
	sub nga-bali.below ya-bali.post2.short  by nga-bali.below_ya-bali.post2.short ;
	sub ja-bali.below ya-bali.post2.short  by ja-bali.below_ya-bali.post2.short ;
	sub saSaga-bali.below ya-bali.post2.short  by saSaga-bali.below_ya-bali.post2.short ;
	sub nya-bali.below ya-bali.post2.short  by nya-bali.below_ya-bali.post2.short ;


sub la-bali.below suku-bali.below by la-bali.below_suku-bali.below;
sub ba-bali.below suku-bali.below by ba-bali.below_suku-bali.below;
sub caLaca-bali.below suku-bali.below by caLaca-bali.below_suku-bali.below;
sub daMurdaMahaprana-bali.below suku-bali.below by daMurdaMahaprana-bali.below_suku-bali.below;
sub taMurdaMahaprana-bali.below suku-bali.below by taMurdaMahaprana-bali.below_suku-bali.below;
sub taLatik-bali.below suku-bali.below by taLatik-bali.below_suku-bali.below;
";
tag = rlig;
}
);
fontMaster = (
{
guides = (
{
angle = 180;
locked = 1;
pos = (767,-1107);
},
{
locked = 1;
pos = (740,-1123);
},
{
locked = 1;
pos = (760,-75);
},
{
locked = 1;
pos = (740,-91);
},
{
locked = 1;
pos = (740,-807);
},
{
angle = 180;
locked = 1;
pos = (259,-1567);
},
{
locked = 1;
pos = (232,-1583);
},
{
locked = 1;
pos = (740,-791);
},
{
locked = 1;
pos = (538,-294);
},
{
locked = 1;
pos = (538,-278);
},
{
angle = 270;
locked = 1;
pos = (-26,595);
},
{
angle = 270;
locked = 1;
pos = (-42,595);
},
{
locked = 1;
pos = (215,897);
},
{
locked = 1;
pos = (215,750);
}
);
id = m01;
metricValues = (
{
over = 16;
pos = 800;
},
{
over = 16;
pos = 700;
},
{
over = 16;
pos = 500;
},
{
over = -16;
},
{
over = -16;
pos = -200;
},
{
}
);
name = Regular;
userData = {
GSCornerRadius = 20;
GSOffsetHorizontal = 90;
GSOffsetMakeStroke = 1;
GSOffsetProportional = 1;
GSOffsetVertical = 20;
GSRoughenHorizontal = 15;
GSRoughenSegmentLength = 15;
GSRoughenVertical = 10;
};
}
);
kerningLTR = {
m01 = {
"@MMK_L_A" = {
"@MMK_R_E.ss01" = -60;
"@MMK_R_O" = -20;
"@MMK_R_T" = -90;
"@MMK_R_U" = -20;
"@MMK_R_V" = -40;
"@MMK_R_Y" = -100;
"@MMK_R_Z" = -10;
"@MMK_R_backslash" = -80;
"@MMK_R_guilsinglleft" = -20;
"@MMK_R_ha" = -80;
"@MMK_R_na" = -20;
"@MMK_R_question" = -60;
asterisk = -50;
hyphen = -10;
quotedblbase = 20;
quotedblleft = -70;
quotedblright = -60;
};
"@MMK_L_B" = {
"@MMK_R_A" = 10;
"@MMK_R_E.ss01" = -70;
"@MMK_R_J" = 20;
"@MMK_R_S" = 20;
"@MMK_R_T" = -40;
"@MMK_R_V" = -20;
"@MMK_R_X" = -30;
"@MMK_R_Y" = -70;
"@MMK_R_Z" = -10;
"@MMK_R_backslash" = -60;
"@MMK_R_e.ss01" = -40;
"@MMK_R_eight" = 10;
"@MMK_R_five" = 30;
"@MMK_R_four" = 10;
"@MMK_R_ha" = -30;
"@MMK_R_one" = -10;
"@MMK_R_question" = -30;
"@MMK_R_seven" = -30;
"@MMK_R_slash" = -30;
"@MMK_R_three" = 10;
"@MMK_R_zero" = 20;
asterisk = -10;
hyphen = 30;
parenright = -10;
quotedblleft = -20;
quotedblright = -20;
};
"@MMK_L_B.ss01" = {
"@MMK_R_e.ss01" = -120;
};
"@MMK_L_C" = {
"@MMK_R_A" = -30;
"@MMK_R_E.ss01" = -60;
"@MMK_R_H" = -20;
"@MMK_R_O" = -20;
"@MMK_R_T" = -50;
"@MMK_R_U" = -10;
"@MMK_R_V" = -40;
"@MMK_R_X" = -50;
"@MMK_R_Y" = -70;
"@MMK_R_Z" = -20;
"@MMK_R_backslash" = -70;
"@MMK_R_guilsinglleft" = -20;
"@MMK_R_ha" = -40;
"@MMK_R_period" = -10;
"@MMK_R_question" = -40;
"@MMK_R_slash" = -60;
asterisk = -30;
bracketright = -10;
colon = -20;
parenright = -30;
quotedblleft = -30;
};
"@MMK_L_D" = {
"@MMK_R_Y" = -50;
};
"@MMK_L_E" = {
"@MMK_R_E.ss01" = -30;
"@MMK_R_O" = -10;
"@MMK_R_S" = 20;
"@MMK_R_T" = 20;
"@MMK_R_U" = 10;
"@MMK_R_V" = 20;
"@MMK_R_Y" = 10;
"@MMK_R_guilsinglleft" = -10;
"@MMK_R_guilsinglright" = 20;
bracketright = 10;
colon = 20;
quotedblbase = 20;
quotedblleft = 30;
quotedblright = 20;
};
"@MMK_L_F" = {
"@MMK_R_A" = -100;
"@MMK_R_E.ss01" = -50;
"@MMK_R_H" = -10;
"@MMK_R_J" = -60;
"@MMK_R_O" = -40;
"@MMK_R_V" = 10;
"@MMK_R_X" = -10;
"@MMK_R_Y" = 10;
"@MMK_R_Z" = -10;
"@MMK_R_guilsinglleft" = -20;
"@MMK_R_period" = -110;
"@MMK_R_slash" = -130;
colon = -10;
hyphen = -20;
quotedblbase = -100;
quotedblleft = 20;
quotedblright = 20;
};
"@MMK_L_G" = {
"@MMK_R_A" = -10;
"@MMK_R_E.ss01" = -20;
"@MMK_R_H" = 0;
"@MMK_R_J" = 10;
"@MMK_R_O" = 20;
"@MMK_R_T" = -20;
"@MMK_R_V" = -10;
"@MMK_R_X" = -30;
"@MMK_R_Y" = -60;
"@MMK_R_Z" = -30;
"@MMK_R_backslash" = -30;
"@MMK_R_guilsinglleft" = 20;
"@MMK_R_ha" = -10;
"@MMK_R_period" = -30;
"@MMK_R_question" = -20;
"@MMK_R_slash" = -40;
bracketright = -10;
comma = -40;
hyphen = 40;
parenright = -20;
};
"@MMK_L_H" = {
"@MMK_R_E.ss01" = -20;
"@MMK_R_J" = 0;
"@MMK_R_T" = -20;
"@MMK_R_V" = 10;
"@MMK_R_Y" = -10;
"@MMK_R_Z" = -10;
"@MMK_R_backslash" = -10;
"@MMK_R_guilsinglleft" = -10;
"@MMK_R_period" = -20;
"@MMK_R_question" = -10;
"@MMK_R_slash" = -30;
asterisk = 0;
greaterequal = 10;
lessequal = 10;
notequal = 20;
quotedblbase = 10;
quotedblleft = 10;
won = -10;
};
"@MMK_L_K" = {
"@MMK_R_E.ss01" = -110;
"@MMK_R_H" = -10;
"@MMK_R_O" = -20;
"@MMK_R_T" = -10;
"@MMK_R_U" = -10;
"@MMK_R_Y" = -10;
"@MMK_R_Z" = -10;
"@MMK_R_backslash" = -10;
"@MMK_R_guilsinglleft" = -30;
"@MMK_R_ha" = -60;
"@MMK_R_na" = -10;
"@MMK_R_question" = -30;
"@MMK_R_slash" = -40;
asterisk = -20;
colon = -10;
};
"@MMK_L_L" = {
"@MMK_R_A" = 40;
"@MMK_R_E.ss01" = -140;
"@MMK_R_H" = 20;
"@MMK_R_J" = 20;
"@MMK_R_O" = -10;
"@MMK_R_S" = 30;
"@MMK_R_T" = -120;
"@MMK_R_V" = -30;
"@MMK_R_Y" = -100;
"@MMK_R_Z" = 20;
"@MMK_R_backslash" = -100;
"@MMK_R_guilsinglleft" = -20;
"@MMK_R_guilsinglright" = 30;
"@MMK_R_ha" = -140;
"@MMK_R_period" = 20;
"@MMK_R_question" = -40;
colon = 30;
quotedblbase = 30;
quotedblleft = -10;
quotedblright = -30;
};
"@MMK_L_O" = {
"@MMK_R_A" = -20;
"@MMK_R_J" = 10;
"@MMK_R_O" = 20;
"@MMK_R_S" = 10;
"@MMK_R_T" = -40;
"@MMK_R_U" = 10;
"@MMK_R_V" = -10;
"@MMK_R_X" = -60;
"@MMK_R_Y" = -50;
"@MMK_R_Z" = -30;
"@MMK_R_backslash" = -30;
"@MMK_R_guilsinglleft" = 20;
"@MMK_R_period" = -50;
"@MMK_R_question" = -20;
"@MMK_R_slash" = -70;
"@MMK_R_zero" = 20;
asterisk = 20;
bracketright = -10;
colon = -10;
hyphen = 30;
parenright = -20;
quotedblbase = -30;
quotedblleft = -10;
quoteright = -20;
};
"@MMK_L_P" = {
"@MMK_R_A" = -80;
"@MMK_R_H" = -10;
"@MMK_R_J" = -70;
"@MMK_R_S" = 10;
"@MMK_R_T" = -10;
"@MMK_R_Y" = -40;
"@MMK_R_Z" = -30;
"@MMK_R_backslash" = -30;
"@MMK_R_period" = -150;
"@MMK_R_question" = -10;
"@MMK_R_slash" = -130;
parenright = -20;
quotedblbase = -150;
quotedblleft = 20;
};
"@MMK_L_Q" = {
"@MMK_R_A" = 0;
"@MMK_R_J" = 20;
"@MMK_R_O" = 20;
"@MMK_R_S" = 20;
"@MMK_R_T" = -30;
"@MMK_R_U" = 20;
"@MMK_R_X" = -10;
"@MMK_R_Y" = -50;
"@MMK_R_Z" = -10;
"@MMK_R_backslash" = -30;
"@MMK_R_period" = -20;
"@MMK_R_question" = -10;
comma = -20;
hyphen = 30;
parenright = 0;
};
"@MMK_L_R" = {
"@MMK_R_A" = 0;
"@MMK_R_E.ss01" = -30;
"@MMK_R_H" = -10;
"@MMK_R_J" = -10;
"@MMK_R_O" = -10;
"@MMK_R_S" = 10;
"@MMK_R_T" = -40;
"@MMK_R_U" = -10;
"@MMK_R_V" = -30;
"@MMK_R_X" = -20;
"@MMK_R_Y" = -50;
"@MMK_R_Z" = -10;
"@MMK_R_backslash" = -30;
"@MMK_R_guilsinglleft" = -20;
"@MMK_R_ha" = -20;
"@MMK_R_na" = -10;
"@MMK_R_question" = -20;
"@MMK_R_slash" = -30;
bracketright = -10;
quotedblleft = -20;
};
"@MMK_L_S" = {
"@MMK_R_A" = 0;
"@MMK_R_E.ss01" = -40;
"@MMK_R_J" = 20;
"@MMK_R_O" = 10;
"@MMK_R_S" = 20;
"@MMK_R_T" = -20;
"@MMK_R_V" = -10;
"@MMK_R_X" = -30;
"@MMK_R_Y" = -40;
"@MMK_R_Z" = 0;
"@MMK_R_backslash" = -20;
"@MMK_R_eight" = 20;
"@MMK_R_five" = 30;
"@MMK_R_four" = 10;
"@MMK_R_guilsinglleft" = -20;
"@MMK_R_na" = 10;
"@MMK_R_nine" = 20;
"@MMK_R_question" = -10;
"@MMK_R_seven" = 10;
"@MMK_R_six" = 20;
"@MMK_R_slash" = -20;
"@MMK_R_three" = 20;
"@MMK_R_two" = 30;
"@MMK_R_zero" = 20;
asterisk = 0;
hyphen = 20;
};
"@MMK_L_T" = {
"@MMK_R_A" = -90;
"@MMK_R_E.ss01" = -100;
"@MMK_R_H" = -20;
"@MMK_R_J" = -130;
"@MMK_R_O" = -30;
"@MMK_R_S" = 0;
"@MMK_R_X" = -10;
"@MMK_R_Y" = -10;
"@MMK_R_Z" = -10;
"@MMK_R_ampersand" = -60;
"@MMK_R_guilsinglleft" = -70;
"@MMK_R_na" = -20;
"@MMK_R_period" = -120;
"@MMK_R_slash" = -150;
O = -40;
hyphen = -110;
quotedblbase = -120;
quotedblleft = 20;
quotedblright = 20;
};
"@MMK_L_U" = {
"@MMK_R_A" = -20;
"@MMK_R_O" = 10;
"@MMK_R_S" = 10;
"@MMK_R_U" = 20;
"@MMK_R_V" = 10;
"@MMK_R_X" = -10;
"@MMK_R_Z" = -10;
"@MMK_R_period" = -30;
"@MMK_R_question" = -10;
"@MMK_R_slash" = -60;
hyphen = 10;
quotedblbase = -10;
quotedblleft = 10;
quotedblright = 10;
};
"@MMK_L_V" = {
"@MMK_R_A" = -40;
"@MMK_R_E.ss01" = -30;
"@MMK_R_H" = 10;
"@MMK_R_J" = -40;
"@MMK_R_O" = -10;
"@MMK_R_V" = 20;
"@MMK_R_Y" = 20;
"@MMK_R_Z" = -10;
"@MMK_R_guilsinglleft" = -10;
"@MMK_R_na" = -10;
"@MMK_R_period" = -70;
"@MMK_R_slash" = -90;
hyphen = -10;
quotedblbase = -60;
quotedblleft = 30;
quotedblright = 20;
};
"@MMK_L_X" = {
"@MMK_R_E.ss01" = -150;
"@MMK_R_H" = -20;
"@MMK_R_J" = -40;
"@MMK_R_O" = -60;
"@MMK_R_S" = -30;
"@MMK_R_T" = -30;
"@MMK_R_U" = -30;
"@MMK_R_V" = -20;
"@MMK_R_Y" = -20;
"@MMK_R_Z" = -20;
"@MMK_R_guilsinglleft" = -80;
"@MMK_R_guilsinglright" = -30;
"@MMK_R_ha" = -70;
"@MMK_R_na" = -40;
"@MMK_R_period" = -10;
"@MMK_R_question" = -50;
"@MMK_R_slash" = -40;
asterisk = -40;
bracketright = -10;
colon = -20;
exclam = -10;
hyphen = -80;
quotedblleft = -10;
quotedblright = -10;
};
"@MMK_L_Y" = {
"@MMK_R_A" = -100;
"@MMK_R_E.ss01" = -110;
"@MMK_R_H" = -10;
"@MMK_R_J" = -130;
"@MMK_R_O" = -50;
"@MMK_R_S" = -20;
"@MMK_R_T" = -10;
"@MMK_R_V" = 20;
"@MMK_R_Z" = -20;
"@MMK_R_guilsinglleft" = -80;
"@MMK_R_ha" = -40;
"@MMK_R_na" = -30;
"@MMK_R_period" = -110;
"@MMK_R_question" = -10;
"@MMK_R_slash" = -150;
colon = -20;
hyphen = -80;
"naRambat_tedung-bali" = 0;
quotedblbase = -130;
quotedblright = 10;
};
"@MMK_L_Z" = {
"@MMK_R_A" = -10;
"@MMK_R_E.ss01" = -80;
"@MMK_R_H" = -10;
"@MMK_R_J" = -20;
"@MMK_R_O" = -30;
"@MMK_R_T" = -10;
"@MMK_R_U" = -10;
"@MMK_R_V" = -10;
"@MMK_R_X" = -20;
"@MMK_R_Y" = -20;
"@MMK_R_Z" = -10;
"@MMK_R_backslash" = -10;
"@MMK_R_guilsinglleft" = -50;
"@MMK_R_ha" = -30;
"@MMK_R_na" = -20;
"@MMK_R_question" = -10;
"@MMK_R_slash" = -50;
hyphen = -10;
};
"@MMK_L_ampersand" = {
"@MMK_R_O" = -10;
"@MMK_R_T" = -70;
};
"@MMK_L_backslash" = {
"@MMK_R_H" = -30;
"@MMK_R_O" = -70;
"@MMK_R_S" = -20;
"@MMK_R_T" = -150;
"@MMK_R_U" = -60;
"@MMK_R_V" = -90;
"@MMK_R_X" = -40;
"@MMK_R_Y" = -150;
"@MMK_R_Z" = -50;
"@MMK_R_backslash" = -160;
"@MMK_R_eight" = -50;
"@MMK_R_five" = -40;
"@MMK_R_four" = -80;
"@MMK_R_nine" = -50;
"@MMK_R_one" = -40;
"@MMK_R_seven" = -110;
"@MMK_R_six" = -60;
"@MMK_R_three" = -40;
"@MMK_R_two" = -20;
"@MMK_R_zero" = -60;
};
"@MMK_L_eight" = {
"@MMK_R_S" = 20;
"@MMK_R_backslash" = -30;
"@MMK_R_eight" = 10;
"@MMK_R_five" = 20;
"@MMK_R_guilsinglright" = 10;
"@MMK_R_nine" = 10;
"@MMK_R_one" = 0;
"@MMK_R_slash" = -50;
"@MMK_R_three" = 20;
"@MMK_R_two" = 10;
"@MMK_R_zero" = 10;
asterisk = 10;
euro = 10;
hyphen = 30;
parenright = -20;
won = -20;
};
"@MMK_L_five" = {
"@MMK_R_S" = 30;
"@MMK_R_backslash" = -20;
"@MMK_R_eight" = 20;
"@MMK_R_five" = 10;
"@MMK_R_four" = 20;
"@MMK_R_guilsinglleft" = 20;
"@MMK_R_guilsinglright" = 10;
"@MMK_R_ha" = -30;
"@MMK_R_one" = 10;
"@MMK_R_question" = -20;
"@MMK_R_seven" = -10;
"@MMK_R_six" = 10;
"@MMK_R_slash" = -40;
"@MMK_R_three" = 20;
"@MMK_R_zero" = 20;
bracketright = -10;
cent = 20;
colon = -10;
euro = 30;
hyphen = 30;
parenright = -20;
quotedblbase = 10;
sterling = 20;
};
"@MMK_L_four" = {
"@MMK_R_H" = 20;
"@MMK_R_S" = 20;
"@MMK_R_eight" = 20;
"@MMK_R_five" = 20;
"@MMK_R_four" = 20;
"@MMK_R_guilsinglright" = 10;
"@MMK_R_nine" = 20;
"@MMK_R_one" = 20;
"@MMK_R_seven" = 10;
"@MMK_R_six" = 20;
"@MMK_R_slash" = -20;
"@MMK_R_three" = 20;
"@MMK_R_two" = 20;
"@MMK_R_zero" = 20;
asterisk = 20;
cent = 10;
euro = 20;
hyphen = 20;
quotedblleft = 20;
sterling = 20;
};
"@MMK_L_guilsinglleft" = {
"@MMK_R_eight" = 20;
"@MMK_R_five" = 20;
"@MMK_R_four" = 20;
"@MMK_R_guilsinglleft" = -40;
"@MMK_R_nine" = 20;
"@MMK_R_one" = 30;
"@MMK_R_seven" = 20;
"@MMK_R_three" = 20;
"@MMK_R_two" = 30;
};
"@MMK_L_guilsinglright" = {
"@MMK_R_A" = -20;
"@MMK_R_H" = -10;
"@MMK_R_O" = 20;
"@MMK_R_S" = 10;
"@MMK_R_T" = -70;
"@MMK_R_V" = -10;
"@MMK_R_X" = -80;
"@MMK_R_Y" = -80;
"@MMK_R_Z" = -50;
"@MMK_R_four" = 20;
"@MMK_R_guilsinglright" = -40;
"@MMK_R_one" = -20;
"@MMK_R_seven" = -40;
"@MMK_R_six" = 20;
};
"@MMK_L_nine" = {
"@MMK_R_H" = 10;
"@MMK_R_S" = 20;
"@MMK_R_backslash" = -30;
"@MMK_R_eight" = 10;
"@MMK_R_five" = 10;
"@MMK_R_four" = 20;
"@MMK_R_guilsinglright" = 10;
"@MMK_R_nine" = 10;
"@MMK_R_period" = -30;
"@MMK_R_question" = -20;
"@MMK_R_seven" = -10;
"@MMK_R_six" = 20;
"@MMK_R_slash" = -70;
"@MMK_R_two" = 10;
"@MMK_R_zero" = 20;
asterisk = 20;
bracketright = -10;
cent = 10;
colon = 10;
hyphen = 30;
parenright = -10;
};
"@MMK_L_one" = {
"@MMK_R_H" = 20;
"@MMK_R_O" = 20;
"@MMK_R_S" = 30;
"@MMK_R_backslash" = -20;
"@MMK_R_eight" = 10;
"@MMK_R_five" = 20;
"@MMK_R_four" = 30;
"@MMK_R_guilsinglleft" = 20;
"@MMK_R_guilsinglright" = 30;
"@MMK_R_nine" = 30;
"@MMK_R_one" = 20;
"@MMK_R_question" = 10;
"@MMK_R_six" = 20;
"@MMK_R_three" = 20;
"@MMK_R_two" = 30;
"@MMK_R_zero" = 30;
asterisk = 20;
cent = 20;
euro = 30;
hyphen = 30;
quotedblleft = 10;
quotedblright = 20;
sterling = 30;
};
"@MMK_L_period" = {
"@MMK_R_H" = -20;
"@MMK_R_O" = -50;
"@MMK_R_T" = -120;
"@MMK_R_U" = -30;
"@MMK_R_V" = -70;
"@MMK_R_X" = -10;
"@MMK_R_Y" = -110;
"@MMK_R_five" = 10;
"@MMK_R_four" = -30;
"@MMK_R_one" = -20;
"@MMK_R_period" = -20;
"@MMK_R_seven" = -70;
"@MMK_R_six" = -30;
"@MMK_R_two" = 10;
"@MMK_R_zero" = -30;
comma = -20;
};
"@MMK_L_question" = {
"@MMK_R_A" = -40;
"@MMK_R_J" = -40;
"@MMK_R_O" = 20;
"@MMK_R_S" = 20;
"@MMK_R_X" = -30;
"@MMK_R_Y" = -20;
"@MMK_R_Z" = -20;
"@MMK_R_five" = -10;
"@MMK_R_four" = 20;
"@MMK_R_nine" = 20;
"@MMK_R_one" = 10;
"@MMK_R_questiondown" = -140;
"@MMK_R_six" = 10;
"@MMK_R_two" = 20;
"@MMK_R_zero" = 10;
};
"@MMK_L_questiondown" = {
"@MMK_R_H" = -40;
"@MMK_R_J" = -50;
"@MMK_R_O" = -80;
"@MMK_R_S" = -50;
"@MMK_R_T" = -150;
"@MMK_R_U" = -80;
"@MMK_R_V" = -90;
"@MMK_R_X" = -10;
"@MMK_R_Y" = -140;
"@MMK_R_Z" = -30;
"@MMK_R_eight" = -40;
"@MMK_R_five" = -60;
"@MMK_R_four" = -70;
"@MMK_R_nine" = -90;
"@MMK_R_one" = -50;
"@MMK_R_question" = -110;
"@MMK_R_seven" = -100;
"@MMK_R_six" = -70;
"@MMK_R_three" = -60;
"@MMK_R_two" = -20;
"@MMK_R_zero" = -90;
};
"@MMK_L_seven" = {
"@MMK_R_S" = 20;
"@MMK_R_eight" = 10;
"@MMK_R_five" = -20;
"@MMK_R_four" = 20;
"@MMK_R_guilsinglright" = 20;
"@MMK_R_nine" = 20;
"@MMK_R_one" = 30;
"@MMK_R_period" = -40;
"@MMK_R_seven" = 20;
"@MMK_R_slash" = -80;
"@MMK_R_two" = 30;
"@MMK_R_zero" = 10;
asterisk = 30;
bracketright = 10;
cent = 10;
euro = 20;
quotedblbase = -40;
quotedblleft = 30;
quotedblright = 20;
sterling = -10;
};
"@MMK_L_six" = {
"@MMK_R_S" = 30;
"@MMK_R_backslash" = -30;
"@MMK_R_eight" = 20;
"@MMK_R_five" = 20;
"@MMK_R_four" = 10;
"@MMK_R_guilsinglleft" = 20;
"@MMK_R_ha" = -20;
"@MMK_R_nine" = 10;
"@MMK_R_one" = -10;
"@MMK_R_question" = -10;
"@MMK_R_seven" = -20;
"@MMK_R_six" = 10;
"@MMK_R_slash" = -50;
"@MMK_R_three" = 20;
"@MMK_R_two" = 10;
"@MMK_R_zero" = 10;
asterisk = 10;
bracketright = -10;
cent = 20;
euro = 20;
hyphen = 30;
parenright = -20;
quotedblright = 10;
sterling = 10;
};
"@MMK_L_slash" = {
"@MMK_R_A" = -80;
"@MMK_R_J" = -90;
"@MMK_R_O" = -30;
"@MMK_R_S" = -20;
"@MMK_R_Z" = -10;
"@MMK_R_eight" = -20;
"@MMK_R_five" = -50;
"@MMK_R_four" = -20;
"@MMK_R_nine" = -20;
"@MMK_R_six" = -40;
"@MMK_R_slash" = -160;
"@MMK_R_three" = -20;
"@MMK_R_two" = -10;
"@MMK_R_zero" = -20;
};
"@MMK_L_tedung" = {
"@MMK_R_A" = -30;
"@MMK_R_O" = 20;
"@MMK_R_S" = 10;
"@MMK_R_T" = -40;
"@MMK_R_V" = -10;
"@MMK_R_X" = -60;
"@MMK_R_Y" = -60;
"@MMK_R_Z" = -30;
"@MMK_R_four" = 20;
"@MMK_R_seven" = -20;
"@MMK_R_six" = 20;
"@MMK_R_two" = 10;
"@MMK_R_zero" = 20;
"naRambat_tedung-bali" = 20;
};
"@MMK_L_three" = {
"@MMK_R_S" = 30;
"@MMK_R_backslash" = -20;
"@MMK_R_eight" = 30;
"@MMK_R_five" = 30;
"@MMK_R_four" = 20;
"@MMK_R_guilsinglleft" = 10;
"@MMK_R_guilsinglright" = 0;
"@MMK_R_ha" = -30;
"@MMK_R_one" = 10;
"@MMK_R_question" = -20;
"@MMK_R_seven" = -10;
"@MMK_R_six" = 20;
"@MMK_R_slash" = -50;
"@MMK_R_three" = 20;
"@MMK_R_two" = 10;
"@MMK_R_zero" = 20;
cent = 20;
euro = 40;
hyphen = 40;
parenright = -10;
quotedblleft = -10;
sterling = 10;
};
"@MMK_L_two" = {
"@MMK_R_S" = 40;
"@MMK_R_backslash" = -40;
"@MMK_R_eight" = 10;
"@MMK_R_five" = 20;
"@MMK_R_four" = 10;
"@MMK_R_guilsinglright" = 30;
"@MMK_R_ha" = -20;
"@MMK_R_nine" = 10;
"@MMK_R_one" = 10;
"@MMK_R_period" = 20;
"@MMK_R_question" = -20;
"@MMK_R_seven" = -10;
"@MMK_R_six" = 10;
"@MMK_R_slash" = -20;
"@MMK_R_three" = 10;
"@MMK_R_two" = 10;
"@MMK_R_zero" = 10;
cent = 0;
colon = 10;
quotedblleft = -10;
quotedblright = -10;
sterling = 30;
won = -20;
};
"@MMK_L_zero" = {
"@MMK_R_H" = 10;
"@MMK_R_O" = 20;
"@MMK_R_S" = 20;
"@MMK_R_backslash" = -20;
"@MMK_R_eight" = 10;
"@MMK_R_five" = 10;
"@MMK_R_four" = 20;
"@MMK_R_nine" = 10;
"@MMK_R_one" = 10;
"@MMK_R_period" = -30;
"@MMK_R_question" = -20;
"@MMK_R_seven" = -10;
"@MMK_R_six" = 20;
"@MMK_R_slash" = -60;
"@MMK_R_two" = 20;
"@MMK_R_zero" = 20;
asterisk = 20;
bracketright = -20;
cent = 20;
euro = 30;
hyphen = 30;
parenright = -20;
sterling = 10;
};
H = {
"@MMK_R_O" = 0;
};
O = {
"@MMK_R_O" = 20;
};
asterisk = {
"@MMK_R_A" = -50;
"@MMK_R_O" = 20;
"@MMK_R_S" = 20;
"@MMK_R_X" = -40;
"@MMK_R_eight" = 10;
"@MMK_R_five" = -10;
"@MMK_R_four" = 30;
"@MMK_R_nine" = 30;
"@MMK_R_one" = 20;
"@MMK_R_seven" = 30;
"@MMK_R_six" = 20;
"@MMK_R_two" = 30;
"@MMK_R_zero" = 20;
};
bracketleft = {
"@MMK_R_J" = -10;
"@MMK_R_O" = -10;
"@MMK_R_five" = -10;
"@MMK_R_four" = 10;
"@MMK_R_nine" = 10;
"@MMK_R_one" = 20;
"@MMK_R_seven" = 10;
"@MMK_R_six" = -10;
"@MMK_R_two" = 20;
"@MMK_R_zero" = -20;
};
cent = {
"@MMK_R_H" = -20;
"@MMK_R_four" = -10;
"@MMK_R_one" = -20;
"@MMK_R_seven" = -20;
"@MMK_R_three" = 10;
"@MMK_R_two" = -10;
"@MMK_R_zero" = -10;
};
colon = {
"@MMK_R_S" = 10;
"@MMK_R_Y" = -20;
"@MMK_R_five" = 10;
"@MMK_R_four" = 20;
"@MMK_R_three" = 10;
"@MMK_R_two" = 30;
};
comma = {
"@MMK_R_period" = -30;
comma = -40;
};
euro = {
"@MMK_R_five" = 20;
"@MMK_R_four" = -10;
};
greaterequal = {
"@MMK_R_H" = 10;
};
hyphen = {
"@MMK_R_A" = -10;
"@MMK_R_J" = 30;
"@MMK_R_O" = 30;
"@MMK_R_S" = 20;
"@MMK_R_T" = -110;
"@MMK_R_V" = -10;
"@MMK_R_X" = -80;
"@MMK_R_Y" = -80;
"@MMK_R_Z" = -10;
"@MMK_R_eight" = 30;
"@MMK_R_five" = 20;
"@MMK_R_four" = 50;
"@MMK_R_nine" = 10;
"@MMK_R_one" = -20;
"@MMK_R_seven" = -60;
"@MMK_R_six" = 30;
"@MMK_R_zero" = 30;
};
lessequal = {
"@MMK_R_H" = 10;
};
notequal = {
"@MMK_R_H" = 20;
};
parenleft = {
"@MMK_R_J" = -20;
"@MMK_R_O" = -20;
"@MMK_R_eight" = -20;
"@MMK_R_five" = -20;
"@MMK_R_nine" = -10;
"@MMK_R_six" = -20;
"@MMK_R_three" = -10;
"@MMK_R_zero" = -20;
};
quotedblbase = {
"@MMK_R_A" = 30;
"@MMK_R_H" = 10;
"@MMK_R_J" = 10;
"@MMK_R_O" = -20;
"@MMK_R_S" = 10;
"@MMK_R_T" = -130;
"@MMK_R_V" = -30;
"@MMK_R_X" = 10;
"@MMK_R_Y" = -130;
"@MMK_R_five" = 20;
"@MMK_R_four" = -30;
"@MMK_R_one" = -30;
"@MMK_R_seven" = -60;
"@MMK_R_three" = 10;
"@MMK_R_two" = 10;
};
quotedblleft = {
"@MMK_R_A" = -90;
"@MMK_R_H" = 10;
"@MMK_R_J" = -130;
"@MMK_R_O" = -10;
"@MMK_R_T" = 20;
"@MMK_R_U" = 10;
"@MMK_R_V" = 30;
"@MMK_R_X" = 20;
"@MMK_R_Y" = 10;
"@MMK_R_eight" = -10;
"@MMK_R_five" = -20;
"@MMK_R_one" = 30;
"@MMK_R_seven" = 30;
"@MMK_R_three" = 20;
"@MMK_R_two" = 20;
};
sterling = {
"@MMK_R_five" = 20;
"@MMK_R_four" = -10;
"@MMK_R_nine" = 0;
"@MMK_R_one" = -20;
"@MMK_R_seven" = -10;
"@MMK_R_six" = -10;
};
won = {
"@MMK_R_H" = -10;
"@MMK_R_eight" = -20;
"@MMK_R_seven" = -20;
"@MMK_R_three" = -10;
};
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
}
);
unitsPerEm = 1000;
userData = {
GSDontShowVersionAlert = 1;
};
versionMajor = 1;
versionMinor = 0;
}
