(
A,
Adieresis,
Amacron,
B,
C,
Ccaron,
Ccedilla,
D,
Ddotbelow,
E,
Emacron,
F,
G,
H,
Hdotbelow,
I,
Imacron,
J,
K,
L,
Ldotbelow,
M,
Mdotaccent,
Mdotbelow,
N,
Ndotaccent,
Ndotbelow,
Ntilde,
O,
Odieresis,
Omacron,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
A.ss01,
B.ss01,
R.ss01,
L_A.liga,
L_E.liga,
L_I.liga,
L_R.liga,
R_O.liga,
S_S.liga,
T_H.liga,
T_O.liga,
a,
adieresis,
amacron,
b,
c,
ccaron,
ccedilla,
d,
ddotbelow,
e,
emacron,
f,
g,
h,
hdotbelow,
i,
imacron,
j,
k,
l,
ldotbelow,
m,
mdotaccent,
mdotbelow,
n,
ndotaccent,
ndotbelow,
ntilde,
o,
odieresis,
omacron,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
e.ss01,
m.ss01,
n.ss01,
"akara-bali",
"akaraTedung-bali",
"ikara-bali",
"ikaraTedung-bali",
"ukara-bali",
"ukaraTedung-bali",
"raRepa-bali",
"raRepaTedung-bali",
"laLenga-bali",
"laLengaTedung-bali",
"ekara-bali",
"aikara-bali",
"okara-bali",
"okaraTedung-bali",
"ha-bali",
"na-bali",
"naRambat-bali",
"ca-bali",
"caLaca-bali",
"ra-bali",
"ka-bali",
"kaMahaprana-bali",
"kafSasak-bali",
"khotSasak-bali",
"da-bali",
"daMadu-bali",
"daMurdaAlpaprana-bali",
"daMurdaMahaprana-bali",
"ta-bali",
"taMurdaMahaprana-bali",
"taLatik-bali",
"taTawa-bali",
"tzirSasak-bali",
"sa-bali",
"saSapa-bali",
"saSaga-bali",
"zalSasak-bali",
"asyuraSasak-bali",
"wa-bali",
"veSasak-bali",
"la-bali",
"ma-bali",
"ga-bali",
"gaGora-bali",
"ba-bali",
"baKembang-bali",
"nga-bali",
"pa-bali",
"paKapal-bali",
"efSasak-bali",
"ja-bali",
"jaJera-bali",
"ya-bali",
"nya-bali",
"ha_tedung-bali",
"na_tedung-bali",
"naRambat_tedung-bali",
"ca_tedung-bali",
"caLaca_tedung-bali",
"ra_tedung-bali",
"ka_tedung-bali",
"kafSasak_tedung-bali",
"khotSasak_tedung-bali",
"da_tedung-bali",
"daMadu_tedung-bali",
"ta_tedung-bali",
"taMurdaMahaprana_tedung-bali",
"taLatik_tedung-bali",
"taTawa_tedung-bali",
"tzirSasak_tedung-bali",
"sa_tedung-bali",
"saSapa_tedung-bali",
"saSaga_tedung-bali",
"zalSasak_tedung-bali",
"asyuraSasak_tedung-bali",
"wa_tedung-bali",
"veSasak_tedung-bali",
"la_tedung-bali",
"ma_tedung-bali",
"ga_tedung-bali",
"gaGora_tedung-bali",
"ba_tedung-bali",
"baKembang_tedung-bali",
"nga_tedung-bali",
"pa_tedung-bali",
"efSasak_tedung-bali",
"jaJera_tedung-bali",
"ya_tedung-bali",
"ya-bali.post",
"ya-bali.post.short",
"ya-bali.post2",
"ya-bali.post2.short",
"akara-bali.alt",
"ikara-bali.alt",
"raRepa-bali.alt",
"ekara-bali.alt",
"ha-bali.alt",
"na-bali.alt",
"naRambat-bali.alt",
"ca-bali.alt",
"caLaca-bali.alt",
"ra-bali.alt",
"ka-bali.alt",
"kafSasak-bali.alt",
"khotSasak-bali.alt",
"da-bali.alt",
"daMadu-bali.alt",
"daMurdaAlpaprana-bali.alt",
"ta-bali.alt",
"taMurdaMahaprana-bali.alt",
"taLatik-bali.alt",
"taTawa-bali.alt",
"tzirSasak-bali.alt",
"sa-bali.alt",
"saSapa-bali.alt",
"saSaga-bali.alt",
"zalSasak-bali.alt",
"asyuraSasak-bali.alt",
"wa-bali.alt",
"veSasak-bali.alt",
"la-bali.alt",
"ma-bali.alt",
"ga-bali.alt",
"gaGora-bali.alt",
"ba-bali.alt",
"baKembang-bali.alt",
"nga-bali.alt",
"pa-bali.alt",
"efSasak-bali.alt",
"ja-bali.alt",
"ya-bali.alt",
"nya-bali.alt",
"ha-bali.below_ya-bali.post2",
"naRambat-bali.below_ya-bali.post2",
"ca-bali.below_ya-bali.post2",
"caLaca-bali.below_ya-bali.post2",
"ka-bali.below_ya-bali.post2",
"kafSasak-bali.below_ya-bali.post2",
"da-bali.below_ya-bali.post2",
"daMadu-bali.below_ya-bali.post2",
"daMurdaAlpaprana-bali.below_ya-bali.post2",
"ta-bali.below_ya-bali.post2",
"tzirSasak-bali.below_ya-bali.post2",
"saSaga-bali.below_ya-bali.post2",
"asyuraSasak-bali.below_ya-bali.post2",
"la-bali.below_ya-bali.post2",
"ma-bali.below_ya-bali.post2",
"ga-bali.below_ya-bali.post2",
"gaGora-bali.below_ya-bali.post2",
"ba-bali.below_ya-bali.post2",
"baKembang-bali.below_ya-bali.post2",
"nga-bali.below_ya-bali.post2",
"ja-bali.below_ya-bali.post2",
"nya-bali.below_ya-bali.post2",
"ha-bali.below_ya-bali.post2.short",
"naRambat-bali.below_ya-bali.post2.short",
"ca-bali.below_ya-bali.post2.short",
"caLaca-bali.below_ya-bali.post2.short",
"ka-bali.below_ya-bali.post2.short",
"kafSasak-bali.below_ya-bali.post2.short",
"da-bali.below_ya-bali.post2.short",
"daMadu-bali.below_ya-bali.post2.short",
"daMurdaAlpaprana-bali.below_ya-bali.post2.short",
"ta-bali.below_ya-bali.post2.short",
"tzirSasak-bali.below_ya-bali.post2.short",
"saSaga-bali.below_ya-bali.post2.short",
"asyuraSasak-bali.below_ya-bali.post2.short",
"la-bali.below_ya-bali.post2.short",
"ma-bali.below_ya-bali.post2.short",
"ga-bali.below_ya-bali.post2.short",
"gaGora-bali.below_ya-bali.post2.short",
"ba-bali.below_ya-bali.post2.short",
"baKembang-bali.below_ya-bali.post2.short",
"nga-bali.below_ya-bali.post2.short",
"ja-bali.below_ya-bali.post2.short",
"nya-bali.below_ya-bali.post2.short",
"ra-bali.below2",
"sa-bali.post",
"saSapa-bali.post",
"zalSasak-bali.post",
"pa-bali.post",
"paKapal-bali.post",
"efSasak-bali.post",
"sa-bali.post.alt",
"saSapa-bali.post.alt",
"zalSasak-bali.post.alt",
"pa-bali.post.alt",
"efSasak-bali.post.alt",
"ra-bali.below1",
"raRepaMark-bali.below1",
"raRepaMark-bali.below2",
"ra-bali.below3",
"raRepaMark-bali.below3",
"ra-bali.below4",
"raRepaMark-bali.below4",
"ra-bali.below5",
"raRepaMark-bali.below5",
"ra_ya-bali.post.short",
"zero-bali",
"one-bali",
"two-bali",
"three-bali",
"four-bali",
"five-bali",
"six-bali",
"seven-bali",
"eight-bali",
"nine-bali",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
"panti-bali",
"pamada-bali",
"windu-bali",
"carikPamungkah-bali",
"carikSiki-bali",
"carikPareren-bali",
"pameneng-bali",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
"dang-bali",
"dangSurang-bali",
"dangGede-bali",
"daeng-bali",
"ding-bali",
"dung-bali",
"deng-bali",
"deung-bali",
"daing-bali",
"dong-bali",
"rightHandOpenDug-bali",
"rightHandOpenDag-bali",
"rightHandClosedTuk-bali",
"rightHandClosedTak-bali",
"leftHandOpenPang-bali",
"leftHandOpenPung-bali",
"leftHandClosedPlak-bali",
"leftHandClosedPluk-bali",
"leftHandOpenPing-bali",
baht,
at,
ampersand,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
cent,
currency,
dollar,
euro,
sterling,
won,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
product,
summation,
radical,
partialdiff,
percent,
perthousand,
"ha-bali.below",
"na-bali.below",
"naRambat-bali.below",
"ca-bali.below",
"caLaca-bali.below",
"ra-bali.below",
"ka-bali.below",
"kaMahaprana-bali.below",
"kafSasak-bali.below",
"da-bali.below",
"daMadu-bali.below",
"daMurdaAlpaprana-bali.below",
"daMurdaMahaprana-bali.below",
"ta-bali.below",
"taMurdaMahaprana-bali.below",
"taLatik-bali.below",
"taTawa-bali.below",
"tzirSasak-bali.below",
"saSaga-bali.below",
"asyuraSasak-bali.below",
"wa-bali.below",
"wa-bali.below2",
"veSasak-bali.below",
"la-bali.below",
"ma-bali.below",
"ga-bali.below",
"gaGora-bali.below",
"ba-bali.below",
"baKembang-bali.below",
"nga-bali.below",
"ja-bali.below",
"nya-bali.below",
"ulu-bali",
"ulu_uluRicem-bali",
"ulu_uluCandra-bali",
"ulu_cecek-bali",
"ulu_surang-bali",
"uluSari-bali",
"uluSari_uluRicem-bali",
"uluSari_uluCandra-bali",
"uluSari_cecek-bali",
"uluSari_surang-bali",
"uluRicem-bali",
"uluCandra-bali",
"pepet-bali",
"pepet_cecek-bali",
"pepet_surang-bali",
"cecek-bali",
"surang-bali",
"rerekan-bali",
"rerekan_cecek-bali",
"rerekan_surang-bali",
"rerekan_ulu_cecek-bali",
"rerekan_ulu_surang-bali",
"rerekan_uluSari_cecek-bali",
"rerekan_uluSari_surang-bali",
"rerekan_pepet_cecek-bali",
"rerekan_pepet_surang-bali",
"suku-bali",
"suku-bali.below",
"sukuIlut-bali",
"sukuIlut-bali.below",
"raRepaMark-bali",
"laLengaMark-bali",
"pepetTedung-bali",
"tegeh-bali",
"endep-bali",
"kempul-bali",
"kempli-bali",
"jegogan-bali",
"kempulJegogan-bali",
"kempliJegogan-bali",
"bende-bali",
"gong-bali",
"ha-bali.below.alt",
"naRambat-bali.below.alt",
"ca-bali.below.alt",
"ka-bali.below.alt",
"kafSasak-bali.below.alt",
"da-bali.below.alt",
"daMadu-bali.below.alt",
"daMurdaAlpaprana-bali.below.alt",
"ta-bali.below.alt",
"tzirSasak-bali.below.alt",
"saSaga-bali.below.alt",
"asyuraSasak-bali.below.alt",
"ma-bali.below.alt",
"ga-bali.below.alt",
"gaGora-bali.below.alt",
"baKembang-bali.below.alt",
"nga-bali.below.alt",
"ja-bali.below.alt",
"nya-bali.below.alt",
"suku-bali.alt",
"sukuIlut-bali.alt",
"ra-bali.belowGempelan",
"raRepaMark-bali.belowGempelan",
"ra-bali.below.ss01",
"raRepaMark-bali.ss01",
"ra-bali.below.ss02",
"raRepaMark-bali.ss02",
"ra-bali.below.ss03",
"raRepaMark-bali.ss03",
"caLaca-bali.below_suku-bali.below",
"daMurdaMahaprana-bali.below_suku-bali.below",
"taMurdaMahaprana-bali.below_suku-bali.below",
"taLatik-bali.below_suku-bali.below",
"la-bali.below_suku-bali.below",
"ba-bali.below_suku-bali.below",
"adegadeg-bali",
"ra_ya-bali.post",
"ra_ya_tedung-bali.post",
"ra_ya_suku-bali.post",
"ra_ya_sukuIlut-bali.post",
"jaJera-bali.post",
"bisah-bali",
"tedung-bali",
"raRepaTedungMark-bali",
"laLengaTedungMark-bali",
"taling-bali",
"talingRepa-bali",
"talingTedung-bali",
"talingRepaTedung-bali",
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
caroncomb,
brevecomb,
tildecomb,
macroncomb,
dotbelowcomb,
ringbelowcomb,
cedillacomb,
"_kaMahaprana-bali",
_belakang_ha,
_belakang_ha_lurus,
_cecek_bangkiang,
_cecek_bawah,
_dot_ulu_bali,
_kempul,
_pepet_komponen,
_ra_ya_post_depan,
_repa_,
_segitiga_bali,
_surang_komponen,
_suwet_ka,
_suwet_sa,
_suwet_ta,
_tedung_bali,
_uluCandra_short,
_ulu_cecek
)